/* Fonts */

@font-face {
  font-family: landing-screen;

  src: url(/fonts/landing_screen.ttf);
}

@font-face {
  font-family: board;

  src: url(/fonts/board.otf);
}

@font-face {
  font-family: clue;

  src: url(/fonts/clue.otf);
}

@font-face {
  font-family: logo;

  src: url(/fonts/logo.ttf);
}

@font-face {
  font-family: daily-double;

  src: url(/fonts/daily_double.ttf);
}

/* Base HTML classes */

body {
  overflow: hidden;

  text-align: center;

  color: white;

  font-family: landing-screen;
  font-size: 10vh;

  -webkit-font-smoothing: antialiased;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  border: none;
  background-color: transparent;

  font-size: 5vh;
}

/* Custom classes */

.inactive {
  display: none !important;
}

.highlighted {
  background-image: url("/graphics/highlight.png");
}

.spacer {
  height: 5vh;
}

.small-spacer {
  height: 3vh;
}

.player-livefeed-spacer {
  height: 12vh;
}

.answer-form-spacer {
  height: 15vh;
}

.date-text-color {
  color: #d69f4c;
}

/* Animations */

@keyframes color {
  0% {
    background-color: #e6261f;
  }
  12.5% {
    background-color: #eb7532;
  }
  25% {
    background-color: #f7d038;
  }
  37.5% {
    background-color: #a3e048;
  }
  50% {
    background-color: #49da9a;
  }
  62.5% {
    background-color: #4355db;
  }
  75% {
    background-color: #d23be7;
  }
  87.5 {
    background-color: #ffb6c1;
  }
  100% {
    background-color: #e6261f;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* HOST */

/* Landing screen */

.h-landing-screen {
  display: flex;

  width: 100vw;
  height: 100vh;

  background-image: url("/graphics/landing_screen.gif");
  background-size: cover;

  /*
  animation-name: color;
  animation-duration: 20s;
  animation-iteration-count: infinite;

  background-color: red;
  */
}

#unmute-text {
  font-size: 3vh;

  text-align: center;

  animation-name: opacity;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.header-text-wrapper {
  height: 10vh;
}

.header-text {
  font-size: 5vh;
}

.footer-text-wrapper {
  height: 20vh;
}

#session-id-text {
  font-size: 14vh;
  letter-spacing: 0.5vh;
}

.h-logo-text-wrapper {
  height: 30vh;

  line-height: 34vh;
}

.h-logo-text {
  color: white;

  font-family: logo;
  font-size: 28vh;

  text-shadow: 1px 1px 11px #fff, 1px 1px 11px #ccc;
}

.players-connected {
  font-size: 3.5vh;
  text-align: left;
  line-height: 4.5vh;
}

.players-connected-spacer {
  width: 10vw;
}

.top-player-text {
  font-size: 4vh;
}

.leaderboard {
  font-size: 3.4vh;
  line-height: 4.5vh;
}

.leaderboard-players {
  text-align: right;
}

.leaderboard-scores {
  text-align: left;
}

/* Board screen */

.h-board-screen {
  position: absolute;
  z-index: -1;

  display: flex;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-image: url("/graphics/background.png");
}

.h-board-row {
  height: calc(100vh / 6);
}

.category {
  display: flex;
  align-items: center;

  text-align: center;
}

.h-category-name {
  word-wrap: break-word;

  color: white;
  text-shadow: 0.7vh 0.7vh black;

  font-family: board;
  font-size: 4.5vh;
  line-height: 4vh;
}

.s-h-category-name {
  word-wrap: break-word;

  color: white;
  text-shadow: 0.6vh 0.6vh black;

  font-family: board;
  font-size: 3.5vh;
  line-height: 4vh;
}

.xs-h-category-name {
  word-wrap: break-word;

  color: white;
  text-shadow: 0.5vh 0.5vh black;

  font-family: board;
  font-size: 3vh;
  line-height: 3vh;
}

.xxs-h-category-name {
  word-wrap: break-word;

  color: white;
  text-shadow: 0.3vh 0.3vh black;

  font-family: board;
  font-size: 2.8vh;
  line-height: 2.5vh;
}

.xxxs-h-category-name {
  word-wrap: break-word;

  color: white;
  text-shadow: 0.3vh 0.3vh black;

  font-family: board;
  font-size: 2.7vh;
  line-height: 3vh;
}

.category-date-wrapper {
  position: absolute;

  height: 110%;
}

.category-date-text {
  bottom: 1vh;

  vertical-align: text-bottom;

  color: #d69f4c;
  text-shadow: 0.4vh 0.4vh black;

  font-family: board;
  font-size: 2vh;
  line-height: 0;
}

.h-price-text {
  letter-spacing: 0.2vh;

  color: #d69f4c;
  text-shadow: 1vh 1vh black;

  font-family: board;
  font-size: 10vh;
}

.category-border {
  width: 100%;
  height: 100%;

  color: black;
  border-width: 0.5vh;
  border-style: solid;
  border-bottom-width: 1vh;
}

.price-border {
  width: 100%;
  height: 100%;

  color: black;
  border-width: 0.5vh;
  border-style: solid;
}

/* Clue screen */

.clue-screen {
  position: absolute;
  z-index: 1;

  display: block;

  width: 100%;
  height: 100%;

  transform: scale(0.13);

  opacity: 0.1;
  background-image: url("/graphics/background.png");
}

.clue-screen.animate {
  transition: transform 1s, left 1s, bottom 1s, opacity 0.4s;
  transform: scale(1);

  opacity: 1;
}

.static-clue-screen {
  position: absolute;
  z-index: 1;

  display: block;

  width: 100%;
  height: 100%;

  background-image: url("/graphics/background.png");
}

.clue-text-row {
  height: 100vh;

  line-height: 12vh;
}

.clue-text {
  color: white;
  text-shadow: 0.8vh 0.8vh #000000;

  font-family: clue;
  font-size: 8vh;
}

.s-clue-text {
  color: white;
  text-shadow: 0.6vh 0.6vh #000000;

  font-family: clue;
  font-size: 6vh;
  line-height: 4vh;
}

.xs-clue-text {
  color: white;
  text-shadow: 0.5vh 0.5vh #000000;

  font-family: clue;
  font-size: 5vh;
  line-height: 3vh;
}

.xxs-clue-text {
  color: white;
  text-shadow: 0.4vh 0.4vh #000000;

  font-family: clue;
  font-size: 4vh;
  line-height: 2vh;
}

.xxxs-clue-text {
  color: white;
  text-shadow: 0.3vh 0.3vh #000000;

  font-family: clue;
  font-size: 3vh;
  line-height: 0;
}

.player-answer {
  transition: all 2s;

  color: white;
  text-shadow: 0.8vh 0.8vh #000000;

  font-family: clue;
  font-size: 8vh;
}

.daily-double-screen {
  position: absolute;
  z-index: 1;

  display: block;

  width: 100%;
  height: 100%;

  transform: scale(0.13);
}

.daily-double-screen.animate {
  transition: linear transform 1.5s, left 1.5s, bottom 1.5s;
  transform: scale(1);
}

@keyframes daily-double {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.daily-double-wrapper-screen {
  position: absolute;
  z-index: 1;

  display: block;

  width: 100%;
  height: 100%;

  animation-name: daily-double;
  animation-duration: 0.75s;
  animation-iteration-count: 2;

  background-image: url("/graphics/daily_double.jpg");
}

.daily-double-text {
  z-index: 2;

  color: white;
  text-shadow: 0 3px 0 #ccc, 0 4px 0 #c9c9c9, 0 5px 0 #bbb, 0 6px 0 #b9b9b9,
    0 7px 0 #aaa, 0 8px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 3px 5px rgba(0, 0, 0, 0.3), 0 5px 7px rgba(0, 0, 0, 0.2),
    0 7px 12px rgba(0, 0, 0, 0.25), 0 12px 12px rgba(0, 0, 0, 0.2),
    0 22px 22px rgba(0, 0, 0, 0.15);

  font-family: daily-double;
  font-size: 30vh;
  font-weight: bold;
  line-height: 30vh;
}

/* Timer */

.h-timer {
  position: absolute;
  z-index: 2;

  display: inherit;

  width: 100vw;
  height: 10vh;

  transform: scaleX(1);

  background-color: red;
}

.h-timer.animate {
  transform: scaleX(0);
}

.h-timer-frame {
  position: absolute;
  z-index: 3;

  display: inherit;

  width: 100vw;
  height: 10vh;

  border: 0.5vh solid black;
}

.h-timer-frame-divider {
  float: left;

  width: 12.5%;
  height: 10vh;

  border: 0.5vh solid black;
}

/* Score screen */

.score-screen {
  position: absolute;
  z-index: -1;

  display: flex;
  align-items: center;

  width: 100vw;
  height: 95vh;

  background-image: url("/graphics/background.png");

  font-family: board;
}

.score-screen-row {
  height: 85vh;
}

.nickname-column {
  display: flex;
  align-items: center;

  height: 20%;
}

.score-column {
  display: flex;
  align-items: center;

  height: 20%;
}

.signature-column {
  display: flex;
  align-items: center;

  height: 60%;
}

.nickname-display {
  width: 24vw;

  line-height: 5vh;
}

.nickname-text {
  letter-spacing: 0.2vh;
  word-wrap: break-word;

  color: white;
  text-shadow: 0.7vh 0.7vh black;

  font-size: 10vh;
}

.s-nickname-text {
  letter-spacing: 0.2vh;
  word-wrap: break-word;

  color: white;
  text-shadow: 0.7vh 0.7vh black;

  font-size: 7vh;
}

.xs-nickname-text {
  letter-spacing: 0.2vh;
  word-wrap: break-word;

  color: white;
  text-shadow: 0.7vh 0.7vh black;

  font-size: 3.5vh;
}

.score-display {
  display: flex;
  align-items: center;

  width: 24vw;
  height: 75%;

  border: 0.6vh solid white;
  background-color: #060ce9;
}

.score-text {
  width: 100%;

  text-align: center;
  letter-spacing: 0.2vh;

  color: white;
  text-shadow: 0.6vh 0.6vh black;

  font-size: 10vh;
}

.signature-display {
  width: 24vw;
  height: 75%;

  border: 0.6vh solid white;
  background-color: #060ce9;
}

.signature {
  width: 100%;
  height: 100%;
}

.overflow-row {
  display: flex;
  align-items: center;

  height: 6vh;

  text-align: center;
}

.overflow-text {
  color: white;
  text-shadow: 0.5vh 0.5vh black;

  font-size: 5vh;
}

.red-overflow-text {
  color: red;
}

/* CONTROLLER */

.c-ui-text {
  font-size: 3vh;
}

/* Join session screen */

#session-id-form {
  width: 40vw;
}

/* Landing screen */

.c-landing-screen {
  display: flex;
  align-items: center;

  width: 100vw;

  background-image: url("/graphics/landing_screen.gif");
  background-size: cover;

  /*
  animation-name: color;
  animation-duration: 20s;
  animation-iteration-count: infinite;

  background-color: red;
  */

  line-height: 8vh;
}

.help-menu-button {
  position: absolute;

  padding: 2vh;

  font-family: landing-screen;
  font-size: 4vh;
}

.c-logo-text {
  color: white;

  font-family: logo;
  font-size: 10vh;
}

.c-landing-screen-text {
  font-size: 4vh;
}

#nickname-form {
  width: 250px;
}

.erase {
  position: absolute;
  z-index: 2;

  color: black;

  font-size: 5vh;
}

.join-button {
  width: 40vw;

  background-color: white;
}

.rejoin-button {
  width: 50vw;

  background-color: white;
}

/* Waiting screen */

#c-waiting-screen {
  width: 100vw;

  line-height: 3vh;
}

.waiting-screen-session-id-wrapper {
  position: absolute;
  top: 0;

  width: 100vw;

  line-height: 6vh;
}

.session-id-header {
  font-size: 3vh;
}

.session-id-footer {
  font-size: 6vh;
}

/* Board screen */

.c-board-screen {
  display: flex;
  align-items: center;

  width: 100vw;

  background-image: url("/graphics/background.png");
}

.c-board-row {
  height: calc(85vh / 5);
}

.price {
  display: flex;
  align-items: center;

  text-align: center;
}

.c-category-text {
  word-wrap: break-word;

  color: white;
  text-shadow: 0.8vh 0.8vh black;

  font-family: board;
  font-size: 4vh;
  line-height: 4vh;
}

.s-c-category-text {
  word-wrap: break-word;

  color: white;
  text-shadow: 0.7vh 0.7vh black;

  font-family: board;
  font-size: 3.2vh;
  line-height: 3.5vh;
}

.xs-c-category-text {
  word-wrap: break-word;

  color: white;
  text-shadow: 0.6vh 0.6vh black;

  font-family: board;
  font-size: 3vh;
  line-height: 3vh;
}

.xxs-c-category-text {
  word-wrap: break-word;

  color: white;
  text-shadow: 0.5vh 0.5vh black;

  font-family: board;
  font-size: 2.8vh;
  line-height: 3.2vh;
}

.c-price-text {
  letter-spacing: 0.2vh;

  color: #d69f4c;
  text-shadow: 0.8vh 0.8vh black;

  font-family: board;
  font-size: 6.5vh;
}

.clue-request-text {
  word-wrap: break-word;

  color: white;
  text-shadow: 0.8vh 0.8vh black;

  font-family: board;
  font-size: 6vh;
  line-height: 6vh;
}

.black-border {
  width: 100%;
  height: 100%;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;

  color: black;
  border-width: 0.5vh;
  border-style: solid;
}

/* Buzzer screen */

.buzzer-screen {
  position: absolute;
  z-index: -1;

  width: 100vw;

  background-color: #060ce9;
}

.buzzer-screen-row {
  display: flex;
  align-items: center;
}

.buzzer {
  position: absolute;
  z-index: 3;
  top: 27vh;

  width: 30vh;
  height: 30vh;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  text-align: center;
  text-decoration: none;

  color: #fff;
  border: solid 0.2vh #d94e3b;
  border-radius: 20vh;
  background: #cb3b27;
  -webkit-box-shadow: 0 1vh 0 #84261a;
  -moz-box-shadow: 0 1vh 0 #84261a;
  box-shadow: 0 1vh 0 #84261a;
}

.buzzer:active {
  position: absolute;
  top: 28vh;

  -webkit-box-shadow: 0 0.2vh 0 #84261a;
  -moz-box-shadow: 0 0.2vh 0 #84261a;
  box-shadow: 0 0.2vh 0 #84261a;
}

.buzzer-light {
  position: absolute;
  top: 26.5vh;

  width: 34vh;
  height: 34vh;

  border-radius: 25vh;
  background-color: transparent;
}

.blinking-buzzer-light {
  position: absolute;
  top: 26.5vh;

  width: 34vh;
  height: 34vh;

  animation-name: blink;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;

  border-radius: 25vh;
  background-color: transparent;
}

@keyframes blink {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: yellow;
  }
}

/* Timer */

.c-timer {
  position: absolute;
  z-index: 2;

  display: inherit;

  width: 100vw;
  height: 5vh;

  transform: scaleX(1);

  background-color: red;
}

.c-timer.animate {
  transform: scaleX(0);
}

.c-timer-frame {
  position: absolute;
  z-index: 3;

  display: inherit;

  width: 100vw;
  height: 5vh;

  border: 0.3vh solid black;
}

.c-timer-frame-divider {
  float: left;

  width: 12.5%;
  height: 5vh;

  border: 0.3vh solid black;
}

/* Answer screen */

.answer-screen {
  position: absolute;
  z-index: -1;

  width: 100vw;

  background-color: #060ce9;
}

#answer-form {
  width: 80vw;
}

#wager-form {
  width: 40vw;
}

.submit-answer-button {
  width: 30vw;
}
