/* Font declarations */

@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
  font-family: board;

  src: url(/fonts/board.otf);
}

@font-face {
  font-family: clue;

  src: url(/fonts/clue.otf);
}

@font-face {
  font-family: logo;

  src: url(/fonts/logo.ttf);
}

@font-face {
  font-family: daily-double;

  src: url(/fonts/daily_double.ttf);
}

/* Base HTML classes */

body {
  text-align: center;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 10vh;

  -webkit-font-smoothing: antialiased;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: transparent;

  border: none;

  font-size: 5vh;
}

/* Custom classes */

.inactive {
  display: none !important;
}

.highlighted {
  background-image: url("/graphics/highlight.png");
}

.spacer {
  height: 5vh;
}

.small-spacer {
  height: 3vh;
}

.player-livefeed-spacer {
  height: 12vh;
}

.answer-form-spacer {
  height: 15vh;
}

/* Animations */

@keyframes color {
  0% {
    background-color: #e6261f;
  }
  12.5% {
    background-color: #eb7532;
  }
  25% {
    background-color: #f7d038;
  }
  37.5% {
    background-color: #a3e048;
  }
  50% {
    background-color: #49da9a;
  }
  62.5% {
    background-color: #4355db;
  }
  75% {
    background-color: #d23be7;
  }
  87.5 {
    background-color: #ffb6c1;
  }
  100% {
    background-color: #e6261f;
  }
}

/* HOST */

/* Landing screen */

.h-landing-screen {
  display: flex;
  align-items: center;

  width: 100vw;
  height: 100vh;

  animation-name: color;
  animation-duration: 20s;
  animation-iteration-count: infinite;

  background-color: red;
}

.h-logo-text {
  color: white;
  font-family: logo;
  font-size: 30vh;
}

/* Board screen */

.h-board-screen {
  display: flex;
  align-items: center;

  position: absolute;
  z-index: -1;

  width: 100vw;
  height: 100vh;

  background-image: url("/graphics/background.png");
}

.h-board-row {
  height: calc(100vh / 6);
}

.category {
  display: flex;
  align-items: center;

  text-align: center;
}

.h-category-name {
  font-family: board;

  word-wrap: break-word;

  color: white;
  text-shadow: .7vh .7vh black;

  font-size: 4.5vh;

  line-height: 4vh;
}

.s-h-category-name {
  font-family: board;

  word-wrap: break-word;

  color: white;
  text-shadow: .6vh .6vh black;

  font-size: 3.8vh;

  line-height: 4vh;
}

.xs-h-category-name {
  font-family: board;

  word-wrap: break-word;

  color: white;
  text-shadow: .5vh .5vh black;

  font-size: 3vh;

  line-height: 4vh;
}

.xxs-h-category-name {
  font-family: board;

  word-wrap: break-word;

  color: white;
  text-shadow: .3vh .3vh black;

  font-size: 2.8vh;

  line-height: 2.5vh;
}

.xxxs-h-category-name {
  font-family: board;

  word-wrap: break-word;

  color: white;
  text-shadow: .3vh .3vh black;

  font-size: 2.7vh;

  line-height: 3vh;
}

.category-date-wrapper {
  position: absolute;
  height: 110%;
}

.category-date-text {
  font-family: board;
  color: #D69F4C;
  text-shadow: .4vh .4vh black;

  font-size: 2vh;

  line-height: 0;

  vertical-align: text-bottom;
  bottom: 1vh;
}

.h-price-text {
  font-family: board;

  letter-spacing: .2vh;

  color: #D69F4C;
  text-shadow: 1vh 1vh black;

  font-size: 10vh;
}

.category-border {
  width: 100%;
  height: 100%;

  color: black;
  border-width: .5vh;
  border-style: solid;
  border-bottom-width: 1vh;
}

.price-border {
  width: 100%;
  height: 100%;

  color: black;
  border-width: .5vh;
  border-style: solid;
}

/* Clue screen */

.clue-screen {
  position: absolute;
  z-index: 1;

  display: block;

  width: 100%;
  height: 100%;

  transform: scale(.13);
  opacity: .1;

  background-image: url("/graphics/background.png");
}

.clue-screen.animate {
  transition: transform 1s, left 1s, bottom 1s, opacity .4s;
  transform: scale(1);

  opacity: 1;
}

.clue-text-row {
  height: 100vh;
  line-height: 12vh;
}

.clue-text {
  color: white;
  text-shadow: .8vh .8vh #000000;

  font-family: clue;
  font-size: 8vh;
}

.s-clue-text {
  color: white;
  text-shadow: .6vh .6vh #000000;

  line-height: 4vh;

  font-family: clue;
  font-size: 6vh;
}

.xs-clue-text {
  color: white;
  text-shadow: .5vh .5vh #000000;

  line-height: 3vh;

  font-family: clue;
  font-size: 5vh;
}

.xxs-clue-text {
  color: white;
  text-shadow: .4vh .4vh #000000;

  line-height: 2vh;

  font-family: clue;
  font-size: 4vh;
}

.xxxs-clue-text {
  color: white;
  text-shadow: .3vh .3vh #000000;

  line-height: 0;

  font-family: clue;
  font-size: 3vh;
}

.player-answer {
  transition: all 2s;

  color: white;
  text-shadow: .8vh .8vh #000000;

  font-family: clue;
  font-size: 8vh;
}

/* Timer */

.h-timer {
  position: absolute;
  z-index: 2;

  display:inherit;

  width: 100vw;
  height: 10vh;

  transform: scaleX(1);

  background-color: red;
}

.h-timer.animate {
  transform: scaleX(0);
}

.h-timer-frame {
  position: absolute;
  z-index: 3;

  display: inherit;

  width: 100vw;
  height: 10vh;

  border: .5vh solid black;
}

.h-timer-frame-divider {
  float: left;

  width: 12.5%;
  height: 10vh;

  border: .5vh solid black;
}

/* Score screen */

.score-screen {
  display: flex;
  align-items: center;

  position: absolute;
  z-index: -1;

  width: 100vw;
  height: 100vh;

  background-image: url("/graphics/background.png");

  font-family: board;
}

.score-screen-row {
  height: 85vh;
}

.nickname-column {
  display: flex;
  align-items: center;

  height: 20%;
}

.score-column {
  display: flex;
  align-items: center;

  height: 20%;
}

.signature-column {
  display: flex;
  align-items: center;

  height: 60%;
}

/* TODO */

.nickname-display {
  width: 24vw;

  line-height: 5vh;
}

.nickname-text {
  color: white;
  text-shadow: .7vh .7vh black;

  font-size: 12vh;
  letter-spacing: .2vh;

  word-wrap: break-word;
}

.s-nickname-text {
  color: white;
  text-shadow: .7vh .7vh black;

  font-size: 7vh;
  letter-spacing: .2vh;

  word-wrap: break-word;
}

.xs-nickname-text {
  color: white;
  text-shadow: .7vh .7vh black;

  font-size: 3.5vh;
  letter-spacing: .2vh;

  word-wrap: break-word;
}

.score-display {
  display: flex;
  align-items: center;

  width: 24vw;
  height: 75%;

  border: .6vh solid white;
  background-color: #060CE9;
}

.score-text {
  width: 100%;

  text-align: center;

  color: white;
  text-shadow: .6vh .6vh black;

  letter-spacing: .2vh;
  font-size: 10vh;
}

.signature-display {
  width: 24vw;
  height: 75%;

  border: .6vh solid white;
  background-color: #060CE9;
}

.signature {
  width: 100%;
  height: 100%;
}

.overflow-row {
  display: flex;
  align-items: center;

  height: 5vh;
}

.overflow-divider {

}

.overflow-text {
  color: white;
  text-shadow: .7vh .7vh black;

  font-size: 4vh;
  letter-spacing: .2vh;
}

.red-overflow-text {
  color: red;
}

/* CONTROLLER */

.c-ui-text {
  font-size: 3vh;
}

/* Landing screen */

.c-landing-screen {
  display: flex;
  align-items: center;

  width: 100vw;

  animation-name: color;
  animation-duration: 20s;
  animation-iteration-count: infinite;

  background-color: red;

  line-height: 8vh;
}

.c-logo-text {
  color: white;
  font-family: logo;
  font-size: 10vh;
}

.c-landing-screen-text {
  font-size: 4vh;
}

.nickname-form {
  width: 70vw;
  height: 8vh;

  padding: 4.5vh;
  padding-left: 1vh;
  padding-right: 1vh;

  font-size: 4vh;

  color: black;

  border: none;

  text-transform: uppercase;
}

.join-button {
  padding-left: 1vh;
  padding-right: 1vh;

  font-size: 3vh;

  color: black;
  border-radius: 1vh;
  background-color: white;
}

/* Board screen */

.c-board-screen {
  display: flex;
  align-items: center;

  width: 100vw;

  background-image: url("/graphics/background.png");
}

.c-board-row {
  height: calc(85vh / 5);
}

.price {
  display: flex;
  align-items: center;

  text-align: center;
}

.c-category-text {
  font-family: board;

  word-wrap: break-word;

  color: white;
  text-shadow: .8vh .8vh black;

  font-size: 4vh;
  line-height: 4vh;
}

.s-c-category-text {
  font-family: board;

  word-wrap: break-word;

  color: white;
  text-shadow: .7vh .7vh black;

  font-size: 3.2vh;
  line-height: 3.5vh;
}

.xs-c-category-text {
  font-family: board;

  word-wrap: break-word;

  color: white;
  text-shadow: .6vh .6vh black;

  font-size: 3vh;
  line-height: 3vh;
}

.xxs-c-category-text {
  font-family: board;

  word-wrap: break-word;

  color: white;
  text-shadow: .5vh .5vh black;

  font-size: 2.8vh;
  line-height: 3.2vh;
}

.c-price-text {
  font-family: board;

  letter-spacing: .2vh;

  color: #D69F4C;
  text-shadow: .8vh .8vh black;

  font-size: 6.5vh;
}

.clue-request-text {
  font-family: board;

  word-wrap: break-word;

  color: white;
  text-shadow: .8vh .8vh black;

  font-size: 6vh;

  line-height: 6vh;
}

.black-border {
  width: 100%;
  height: 100%;

  color: black;
  border-width: .5vh;
  border-style: solid;

  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Buzzer screen */

.buzzer-screen {
  width: 100vw;

  position: absolute;
  z-index: -1;

  background-color: #060CE9;
}

.buzzer-screen-row {
  display: flex;
  align-items: center;
}

.buzzer {
  position:absolute;
  z-index: 3;

  width: 30vh;
  height: 30vh;

  top: 27vh;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  text-align:center;
  text-decoration:none;

  color:#FFF;
  border:solid .2vh #D94E3B;
  border-radius: 20vh;
  background:#cb3b27;
  -webkit-box-shadow: 0 1vh 0 #84261a;
  -moz-box-shadow: 0 1vh 0 #84261a;
  box-shadow: 0 1vh 0 #84261a;
}

.buzzer:active {
  position:absolute;

  top: 28vh;

  -webkit-box-shadow: 0 .2vh 0  #84261a;
  -moz-box-shadow: 0 .2vh 0  #84261a;
  box-shadow: 0 .2vh 0 #84261a;
}

.buzzer-light {
  position: absolute;

  width: 34vh;
  height: 34vh;

  top: 26.5vh;

  border-radius: 25vh;

  background-color: transparent;
}

.blinking-buzzer-light {
  position: absolute;

  width: 34vh;
  height: 34vh;

  top: 26.5vh;

  border-radius: 25vh;
  background-color: transparent;

  animation-name: blink;
  animation-duration: .25s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: yellow;
  }
}

/* Timer */

.c-timer {
  position: absolute;
  z-index: 2;

  display:inherit;

  width: 100vw;
  height: 5vh;

  transform: scaleX(1);

  background-color: red;
}

.c-timer.animate {
  transform: scaleX(0);
}

.c-timer-frame {
  position: absolute;
  z-index: 3;

  display: inherit;

  width: 100vw;
  height: 5vh;

  border: .3vh solid black;
}

.c-timer-frame-divider {
  float: left;

  width: 12.5%;
  height: 5vh;

  border: .3vh solid black;
}

/* Answer screen */

.answer-screen {
  width: 100vw;

  position: absolute;
  z-index: -1;

  background-color: #060CE9;
}

.answer-form {
  width: 80vw;
  height: 10vh;

  padding: 3vh;
  padding-left: 1vh;
  padding-right: 1vh;

  font-size: 4vh;

  color: black;

  text-transform: uppercase;

  border: none;
}

.submit-answer-button {
  padding: 1.5vh;

  font-size: 4vh;

  color: white;
  border-radius: 1vh;
  background-color: #cb3b27;
}
