/*
Source:
https://zipso.net/a-simple-touchscreen-sketchpad-using-javascript-and-html5/
*/

#sketchpadapp {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

#sketchpad {
  width: 250px;
  height: 250px;

  border-radius: 10px;
  background-color: white;
}
