/* SKETCHPAD (SIGNATURE) STYLESHEET */

/* This stying was modified from:
  https://zipso.net/a-simple-touchscreen-sketchpad-using-javascript-and-html5/
*/

#sketchpadapp {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */

  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

#sketchpad {
  width: 250px;
  height: 250px;

  border-radius: 10px;

  background-color: white;
}
